##for now we ignore everything besides base source code files
*
!.gitignore
!index.html
!script.js
!skel_parser.js
!audio_engine.js
!visuals.js
!sample.vtt

#client-side
!web-client/
!web-client/index.html
!web-client/script.js
